.twc-btn {
    @apply py-2 px-4 font-bold;

    &-primary {
        @apply bg-orange-500 text-white fill-white;
        &:hover {
            @apply bg-orange-600;
        }
        &.animate-fillInRight {
            background: linear-gradient(to left, #f97316 50%, #ea580c  50%);
            @apply bg-[length:200%_100%] bg-right-top;
            transition: all ease 0.3s;
            &:hover {
                @apply bg-left-top;
            }
        }
    }
    &-secondary {
        @apply bg-white text-black fill-black;
        &:hover {
            @apply bg-orange-600 text-white fill-white;
        }
        &.animate-fillInRight {
            background: linear-gradient(to left, #FFF 50%, #ea580c  50%);
            @apply bg-[length:200%_100%] bg-right-top;
            transition: all ease 0.3s;
            &:hover {
                @apply bg-left-top;
            }
        }
    }
    &-svg {
        @apply flex items-center gap-2;
    }
}