@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.invisible{
  visibility: hidden;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.-bottom-14{
  bottom: -3.5rem;
}

.-bottom-20{
  bottom: -5rem;
}

.-bottom-4{
  bottom: -1rem;
}

.bottom-0{
  bottom: 0px;
}

.left-0{
  left: 0px;
}

.right-0{
  right: 0px;
}

.right-14{
  right: 3.5rem;
}

.right-24{
  right: 6rem;
}

.right-8{
  right: 2rem;
}

.top-0{
  top: 0px;
}

.z-20{
  z-index: 20;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-16{
  margin-bottom: 4rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-24{
  margin-bottom: 6rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.mr-3{
  margin-right: 0.75rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-24{
  height: 6rem;
}

.h-6{
  height: 1.5rem;
}

.h-7{
  height: 1.75rem;
}

.h-8{
  height: 2rem;
}

.h-\[80px\]{
  height: 80px;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.w-5\/6{
  width: 83.333333%;
}

.w-6{
  width: 1.5rem;
}

.w-7{
  width: 1.75rem;
}

.w-8{
  width: 2rem;
}

.w-\[180px\]{
  width: 180px;
}

.w-full{
  width: 100%;
}

@keyframes fade-in{
  0%{
    visibility: visible;
    opacity: 0;
  }

  100%{
    opacity: 1;
    visibility: visible;
  }
}

.animate-fadeIn{
  animation: fade-in 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-bottom-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInBottomLeft{
  animation: fade-in-bottom-left 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-in-bottom-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInBottomRight{
  animation: fade-in-bottom-right 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-in-bouncedown{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0%, -100%, 0);
  }

  33%{
    visibility: visible;
    opacity: 0.5;
    transform: translate3d(0%, 0%, 0);
  }

  66%{
    visibility: visible;
    opacity: 0.7;
    transform: translate3d(0%, -20%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInBounceDown{
  animation: fade-in-bouncedown 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-bounce-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, 0%, 0);
  }

  33%{
    visibility: visible;
    opacity: 0.5;
    transform: translate3d(0%, 0%, 0);
  }

  66%{
    visibility: visible;
    opacity: 0.7;
    transform: translate3d(-20%, 0%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInBounceLeft{
  animation: fade-in-bounce-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-bounce-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(100%, 0%, 0);
  }

  33%{
    visibility: visible;
    opacity: 0.5;
    transform: translate3d(0%, 0%, 0);
  }

  66%{
    visibility: visible;
    opacity: 0.7;
    transform: translate3d(20%, 0%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInBounceRight{
  animation: fade-in-bounce-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-bounceup{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0%, 100%, 0);
  }

  33%{
    visibility: visible;
    opacity: 0.5;
    transform: translate3d(0%, 0%, 0);
  }

  66%{
    visibility: visible;
    opacity: 0.7;
    transform: translate3d(0%, 20%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInBounceUp{
  animation: fade-in-bounceup 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-down{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInDown{
  animation: fade-in-down 1s ease-in 0.25s 1 forwards;
}

@keyframes fade-in-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInLeft{
  animation: fade-in-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInRight{
  animation: fade-in-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-top-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInTopLeft{
  animation: fade-in-top-left 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-in-top-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInTopRight{
  animation: fade-in-top-right 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-in-up{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fadeInUp{
  animation: fade-in-up 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

.animate-fadeOut{
  animation: fade-out 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-out-bottom-left{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
}

.animate-fadeOutBottomLeft{
  animation: fade-out-bottom-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-bottom-right{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d( 100%, 100%, 0);
  }
}

.animate-fadeOutBottomRight{
  animation: fade-out-bottom-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-down{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.animate-fadeOutDown{
  animation: fade-out-down 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-left{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.animate-fadeOutLeft{
  animation: fade-out-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-right{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.animate-fadeOutRight{
  animation: fade-out-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-top-left{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
}

.animate-fadeOutTopLeft{
  animation: fade-out-top-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-top-right{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d( 100%, -100%, 0);
  }
}

.animate-fadeOutTopRight{
  animation: fade-out-top-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-up{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.animate-fadeOutUp{
  animation: fade-out-up 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in{
  0%{
    visibility: visible;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    visibility: visible;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40%{
    visibility: visible;
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80%{
    visibility: visible;
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animate-flyIn{
  animation: fly-in 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in-down{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, -1500px, 0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75%{
    visibility: visible;
    transform: translate3d(0, -10px, 0);
  }

  90%{
    visibility: visible;
    transform: translate3d(0, 5px, 0);
  }

  100%{
    visibility: visible;
    transform: none;
  }
}

.animate-flyInDown{
  animation: fly-in-down 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(1500px, 0, 0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75%{
    visibility: visible;
    transform: translate3d(10px, 0, 0);
  }

  90%{
    visibility: visible;
    transform: translate3d(-5px, 0, 0);
  }

  100%{
    visibility: visible;
    transform: none;
  }
}

.animate-flyInLeft{
  animation: fly-in-left 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-1500px, 0, 0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75%{
    visibility: visible;
    transform: translate3d(-10px, 0, 0);
  }

  90%{
    visibility: visible;
    transform: translate3d(5px, 0, 0);
  }

  100%{
    visibility: visible;
    transform: none;
  }
}

.animate-flyInRight{
  animation: fly-in-right 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in-up{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, 1500px, 0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75%{
    visibility: visible;
    transform: translate3d(0, 10px, 0);
  }

  90%{
    visibility: visible;
    transform: translate3d(0, -5px, 0);
  }

  100%{
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

.animate-flyInUp{
  animation: fly-in-up 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%, 55%{
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100%{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.animate-flyOut{
  animation: fly-out 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out-down{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    transform: translate3d(0, -10px, 0);
  }

  40%, 45%{
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  100%{
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.animate-flyOutDown{
  animation: fly-out-down 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out-left{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  100%{
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.animate-flyOutLeft{
  animation: fly-out-left 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out-right{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100%{
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.animate-flyOutRight{
  animation: fly-out-right 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out-up{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    transform: translate3d(0, 10px, 0);
  }

  40%, 45%{
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  100%{
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.animate-flyOutUp{
  animation: fly-out-up 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-down{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(0, 100%, 0);
  }
}

.animate-slideDown{
  animation: slide-down 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-in-down{
  0%{
    visibility: visible;
    transform: translate3d(0, -100%, 0);
  }

  100%{
    transform: translate3d(0, 0, 0);
  }
}

.animate-slideInDown{
  animation: slide-in-down 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-in-left{
  0%{
    visibility: visible;
    transform: translate3d(-100%, 0, 0);
  }

  100%{
    transform: translate3d(0, 0, 0);
  }
}

.animate-slideInLeft{
  animation: slide-in-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-in-right{
  0%{
    visibility: visible;
    transform: translate3d(100%, 0, 0);
  }

  100%{
    transform: translate3d(0, 0, 0);
  }
}

.animate-slideInRight{
  animation: slide-in-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-in-up{
  0%{
    visibility: visible;
    transform: translate3d(0, 100%, 0);
  }

  100%{
    transform: translate3d(0, 0, 0);
  }
}

.animate-slideInUp{
  animation: slide-in-up 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-left{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(-100%, 0, 0);
  }
}

.animate-slideLeft{
  animation: slide-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-out-down{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.animate-slideOutDown{
  animation: slide-out-down 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-out-left{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.animate-slideOutLeft{
  animation: slide-out-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-out-right{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.animate-slideOutRight{
  animation: slide-out-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-out-up{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.animate-slideOutUp{
  animation: slide-out-up 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-right{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(100%, 0, 0);
  }
}

.animate-slideRight{
  animation: slide-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-up{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(0, -100%, 0);
  }
}

.animate-slideUp{
  animation: slide-up 1s ease-in-out 0.25s 1 forwards;
}

.cursor-pointer{
  cursor: pointer;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-2{
  gap: 0.5rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-y-2{
  row-gap: 0.5rem;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-y-auto{
  overflow-y: auto;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-tl-lg{
  border-top-left-radius: 0.5rem;
}

.rounded-tr-lg{
  border-top-right-radius: 0.5rem;
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-indigo-100{
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-4{
  padding: 1rem;
}

.p-8{
  padding: 2rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-center{
  text-align: center;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-indigo-600{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.text-orange-600{
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity));
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

html, body{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.animation-delay-10 {
  animation-delay: 100ms;
}

.animation-delay-20 {
  animation-delay: 200ms;
}

.animation-delay-30 {
  animation-delay: 300ms;
}

.animation-delay-40 {
  animation-delay: 400ms;
}

.animation-delay-50 {
  animation-delay: 500ms;
}

.animation-delay-60 {
  animation-delay: 700ms;
}

.animation-delay-80 {
  animation-delay: 800ms;
}

.animation-delay-90 {
  animation-delay: 900ms;
}

.animation-delay{
  animation-delay: 1s;
}

.animation-delay-1 {
  animation-delay: 1s;
}

.animation-delay-2 {
  animation-delay: 2s;
}

.animation-delay-3 {
  animation-delay: 3s;
}

.animation-delay-5 {
  animation-delay: 5s;
}

header{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  display: flex;
  align-items: center;
  height: 80px;
}

main {
  padding-top: 80px;
  min-height: calc(100vh - 32px);
}

footer{
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

.twc-btn-primary-outline{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  fill: #000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.twc-btn-primary-outline:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity));
  fill: #fff;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.twc-btn-primary-outline.animate-fillInRight {
  background: linear-gradient(to left, #FFF 50%, #ea580c  50%);
  background-size: 200% 100%;
  background-position: right top;
  transition: all ease 0.3s;
}

.twc-btn-primary-outline.animate-fillInRight:hover{
  background-position: left top;
}

.twc-btn-svg{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.grid div:nth-child(odd){
  --tw-bg-opacity: 1;
  background-color: rgb(129 140 248 / var(--tw-bg-opacity));
}

.grid div:nth-child(even){
  --tw-bg-opacity: 1;
  background-color: rgb(199 210 254 / var(--tw-bg-opacity));
}

.effect-sample::after{
  position: absolute;
  top: 0px;
  z-index: 20;
  display: flex;
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  content: "Copied to Clipboard";
}

.effect-sample.success::after{
  display: flex !important;
}

@keyframes fade-in{
  0%{
    visibility: visible;
    opacity: 0;
  }

  100%{
    opacity: 1;
    visibility: visible;
  }
}

.hover\:animate-fadeIn:hover{
  animation: fade-in 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-bottom-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInBottomLeft:hover{
  animation: fade-in-bottom-left 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-in-bottom-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInBottomRight:hover{
  animation: fade-in-bottom-right 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-in-bouncedown{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0%, -100%, 0);
  }

  33%{
    visibility: visible;
    opacity: 0.5;
    transform: translate3d(0%, 0%, 0);
  }

  66%{
    visibility: visible;
    opacity: 0.7;
    transform: translate3d(0%, -20%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInBounceDown:hover{
  animation: fade-in-bouncedown 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-bounce-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, 0%, 0);
  }

  33%{
    visibility: visible;
    opacity: 0.5;
    transform: translate3d(0%, 0%, 0);
  }

  66%{
    visibility: visible;
    opacity: 0.7;
    transform: translate3d(-20%, 0%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInBounceLeft:hover{
  animation: fade-in-bounce-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-bounce-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(100%, 0%, 0);
  }

  33%{
    visibility: visible;
    opacity: 0.5;
    transform: translate3d(0%, 0%, 0);
  }

  66%{
    visibility: visible;
    opacity: 0.7;
    transform: translate3d(20%, 0%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInBounceRight:hover{
  animation: fade-in-bounce-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-bounceup{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0%, 100%, 0);
  }

  33%{
    visibility: visible;
    opacity: 0.5;
    transform: translate3d(0%, 0%, 0);
  }

  66%{
    visibility: visible;
    opacity: 0.7;
    transform: translate3d(0%, 20%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInBounceUp:hover{
  animation: fade-in-bounceup 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-down{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInDown:hover{
  animation: fade-in-down 1s ease-in 0.25s 1 forwards;
}

@keyframes fade-in-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInLeft:hover{
  animation: fade-in-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInRight:hover{
  animation: fade-in-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-in-top-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInTopLeft:hover{
  animation: fade-in-top-left 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-in-top-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInTopRight:hover{
  animation: fade-in-top-right 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-in-up{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-fadeInUp:hover{
  animation: fade-in-up 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

.hover\:animate-fadeOut:hover{
  animation: fade-out 1s ease-out 0.25s 1 forwards;
}

@keyframes fade-out-bottom-left{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
}

.hover\:animate-fadeOutBottomLeft:hover{
  animation: fade-out-bottom-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-bottom-right{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d( 100%, 100%, 0);
  }
}

.hover\:animate-fadeOutBottomRight:hover{
  animation: fade-out-bottom-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-down{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.hover\:animate-fadeOutDown:hover{
  animation: fade-out-down 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-left{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.hover\:animate-fadeOutLeft:hover{
  animation: fade-out-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-right{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.hover\:animate-fadeOutRight:hover{
  animation: fade-out-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-top-left{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
}

.hover\:animate-fadeOutTopLeft:hover{
  animation: fade-out-top-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-top-right{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d( 100%, -100%, 0);
  }
}

.hover\:animate-fadeOutTopRight:hover{
  animation: fade-out-top-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fade-out-up{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.hover\:animate-fadeOutUp:hover{
  animation: fade-out-up 1s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in{
  0%{
    visibility: visible;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    visibility: visible;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40%{
    visibility: visible;
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80%{
    visibility: visible;
    transform: scale3d(0.97, 0.97, 0.97);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.hover\:animate-flyIn:hover{
  animation: fly-in 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in-down{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, -1500px, 0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75%{
    visibility: visible;
    transform: translate3d(0, -10px, 0);
  }

  90%{
    visibility: visible;
    transform: translate3d(0, 5px, 0);
  }

  100%{
    visibility: visible;
    transform: none;
  }
}

.hover\:animate-flyInDown:hover{
  animation: fly-in-down 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in-left{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(1500px, 0, 0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75%{
    visibility: visible;
    transform: translate3d(10px, 0, 0);
  }

  90%{
    visibility: visible;
    transform: translate3d(-5px, 0, 0);
  }

  100%{
    visibility: visible;
    transform: none;
  }
}

.hover\:animate-flyInLeft:hover{
  animation: fly-in-left 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in-right{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(-1500px, 0, 0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75%{
    visibility: visible;
    transform: translate3d(-10px, 0, 0);
  }

  90%{
    visibility: visible;
    transform: translate3d(5px, 0, 0);
  }

  100%{
    visibility: visible;
    transform: none;
  }
}

.hover\:animate-flyInRight:hover{
  animation: fly-in-right 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-in-up{
  0%{
    visibility: visible;
    opacity: 0;
    transform: translate3d(0, 1500px, 0);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60%{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75%{
    visibility: visible;
    transform: translate3d(0, 10px, 0);
  }

  90%{
    visibility: visible;
    transform: translate3d(0, -5px, 0);
  }

  100%{
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-flyInUp:hover{
  animation: fly-in-up 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%, 55%{
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100%{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.hover\:animate-flyOut:hover{
  animation: fly-out 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out-down{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    transform: translate3d(0, -10px, 0);
  }

  40%, 45%{
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  100%{
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.hover\:animate-flyOutDown:hover{
  animation: fly-out-down 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out-left{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  100%{
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.hover\:animate-flyOutLeft:hover{
  animation: fly-out-left 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out-right{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100%{
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.hover\:animate-flyOutRight:hover{
  animation: fly-out-right 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes fly-out-up{
  0%{
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  20%{
    transform: translate3d(0, 10px, 0);
  }

  40%, 45%{
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  100%{
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.hover\:animate-flyOutUp:hover{
  animation: fly-out-up 0.6s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-down{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(0, 100%, 0);
  }
}

.hover\:animate-slideDown:hover{
  animation: slide-down 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-in-down{
  0%{
    visibility: visible;
    transform: translate3d(0, -100%, 0);
  }

  100%{
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-slideInDown:hover{
  animation: slide-in-down 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-in-left{
  0%{
    visibility: visible;
    transform: translate3d(-100%, 0, 0);
  }

  100%{
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-slideInLeft:hover{
  animation: slide-in-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-in-right{
  0%{
    visibility: visible;
    transform: translate3d(100%, 0, 0);
  }

  100%{
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-slideInRight:hover{
  animation: slide-in-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-in-up{
  0%{
    visibility: visible;
    transform: translate3d(0, 100%, 0);
  }

  100%{
    transform: translate3d(0, 0, 0);
  }
}

.hover\:animate-slideInUp:hover{
  animation: slide-in-up 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-left{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(-100%, 0, 0);
  }
}

.hover\:animate-slideLeft:hover{
  animation: slide-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-out-down{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.hover\:animate-slideOutDown:hover{
  animation: slide-out-down 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-out-left{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.hover\:animate-slideOutLeft:hover{
  animation: slide-out-left 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-out-right{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.hover\:animate-slideOutRight:hover{
  animation: slide-out-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-out-up{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.hover\:animate-slideOutUp:hover{
  animation: slide-out-up 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-right{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(100%, 0, 0);
  }
}

.hover\:animate-slideRight:hover{
  animation: slide-right 1s ease-in-out 0.25s 1 forwards;
}

@keyframes slide-up{
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(0, -100%, 0);
  }
}

.hover\:animate-slideUp:hover{
  animation: slide-up 1s ease-in-out 0.25s 1 forwards;
}

.hover\:bg-orange-600:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity));
}

.hover\:fill-white:hover{
  fill: #fff;
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 768px){
  .md\:sticky{
    position: sticky;
  }

  .md\:top-0{
    top: 0px;
  }

  .md\:mb-0{
    margin-bottom: 0px;
  }

  .md\:mb-8{
    margin-bottom: 2rem;
  }

  .md\:flex{
    display: flex;
  }

  .md\:h-32{
    height: 8rem;
  }

  .md\:h-screen{
    height: 100vh;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-\[200px\]{
    width: 200px;
  }

  .md\:min-w-\[60\%\]{
    min-width: 60%;
  }

  .md\:grid-cols-5{
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:overflow-hidden{
    overflow: hidden;
  }

  .md\:overflow-y-auto{
    overflow-y: auto;
  }

  .md\:p-8{
    padding: 2rem;
  }

  .md\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}